.gallery {
  padding: 20px 0 3px;
  display: grid;

  @include media-tablet {
    padding: 40px 0 3px;
  }

  @include media-desktop {
    padding: 100px 0 3px;
  }
}

.gallery__header {
  @include media-tablet {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
    column-gap: 16px;
  }
}

.gallery__title {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  margin: 15px 0 25px;
  line-height: 117%;

  @include media-tablet {
    margin: 18px 0 29px;
  }

  @include media-desktop {
    margin: 21px 0 20px;

    &::after {
      transform: translateY(-20%);
    }
  }
}

.gallery__text {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  margin: 0 0 31px;
  font-size: 12px;
  line-height: 149%;

  @include media-tablet {
    max-width: 420px;
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 157%;
  }

  @include media-desktop {
    max-width: 610px;
    margin: 0 0 45px;
    font-size: 16px;
    line-height: 150%;
  }
}

.gallery__buttons {
  display: none;

  @include media-tablet {
    grid-row: 1 / -1;
    grid-column: -1 / span 1;
    display: flex;
    align-items: flex-end;
    column-gap: 4px;
    margin-bottom: 21px;
  }

  @include media-desktop {
    display: none;
  }
}

.gallery__button {
  position: relative;
  display: block;
  width: 37px;
  height: 35px;
  padding: 0;

  &--prev::before {
    top: 51%;
    width: 14px;
  }

  &--next {
    transform: rotate(180deg);
  }

  &--next::before {
    top: 48%;
    left: 47%;
    width: 14px;
  }
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery__card {
  width: 100%;

  @include media-desktop {
    height: 100%;
  }
}

.gallery__item--two .gallery__card {
  display: grid;
  grid-template-rows: auto auto;
  gap: 6px;
}
