.button {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: $white-100;
  background-color: $additional-100;
  transition: 0.2s background-color ease-in-out, 0.2s outline ease-in-out, 0.3s color ease-in-out;
  border: none;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: $white-100;
    outline: 1px solid $basic-blue;
    color: $basic-blue;
  }

  &:focus-visible {
    background-color: $white-100;
    color: $basic-blue;
  }

  &:active {
    background: $basic-blue;
    color: $white-100;
  }

  &:disabled,
  &:not([type="button"]):not([type="submit"]):not([href]) {
    background-color: $disabled;
    color: $white-100;
    pointer-events: none;
  }
}

.button--arrow {
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 15px;
    height: 10px;
    mask-image: url("/__spritemap#sprite-arrow-button-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: $white-100;
    content: "";
  }

  &:hover {
    &::before {
      background-color: $basic-blue;
    }
  }

  &:focus-visible {
    &::before {
      background-color: $basic-blue;
    }
  }

  &:active {
    &::before {
      background-color: $white-100;
    }
  }

  &:disabled,
  &:not([type="button"]):not([type="submit"]):not([href]) {
    &::before {
      background-color: $white-100;
    }
  }
}
