.link {
  @include reset-link;

  color: $primary;
  transition: 0.2s color ease-in-out;

  &:hover {
    color: $additional-20;
  }

  &:focus {
    color: $additional-100;
  }

  &:active {
    color: $basic-blue;
  }

  &:not([href]) {
    color: $disabled;
    pointer-events: none;
  }
}
