.link {
  @include reset-link;
  color: var(--primary);
  transition: 0.2s color ease-in-out;

  &:hover {
    color: var(--additional-20);
  }

  &:focus {
    color: var(--additional-100);
  }

  &:active {
    color: var(--active);
  }

  &:not([href]) {
    color: var(--disabled);
    pointer-events: none;
  }
}
