.page {
  display: grid;
  min-block-size: 100%;
  scroll-behavior: smooth;
}

.page__body {
  display: grid;
  min-block-size: 100%;
  grid-template-rows: auto 1fr;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--primary);
  background-color: var(--white-100);

  @include media-tablet {
    font-size: 16px;
    line-height: 150%;
  }
}
