.page {
  display: grid;
  min-block-size: 100%;
  scroll-behavior: smooth;
}

.page__body {
  display: grid;
  min-block-size: 100%;
  grid-template-rows: auto 1fr;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $primary;
  background-color: $white-100;

  @include media-tablet {
    font-size: 16px;
    line-height: 150%;
  }
}

.page__wrapper {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 10px;
    right: -205px;
    display: block;
    width: 346px;
    height: 595px;
    background-image:
      image-set(
        url("../img/page/background-mobile@2x.webp") type("image/webp") 2x,
        url("../img/page/background-mobile@1x.webp") type("image/webp") 1x,
        url("../img/page/background-mobile@2x.png") 2x,
        url("../img/page/background-mobile@1x.png") 1x
      );
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    z-index: -1;
    content: "";
  }

  @include media-tablet {
    &::before {
      top: -92px;
      right: -177px;
      width: 602px;
      height: 1630px;
      background-image:
        image-set(
          url("../img/page/background-tablet@2x.webp") type("image/webp") 2x,
          url("../img/page/background-tablet@1x.webp") type("image/webp") 1x,
          url("../img/page/background-tablet@2x.png") 2x,
          url("../img/page/background-tablet@1x.png") 1x
        );
    }
  }

  @include media-desktop {
    &::before {
      top: -126px;
      right: 0;
      background-image:
        image-set(
          url("../img/page/background-desktop@2x.webp") type("image/webp") 2x,
          url("../img/page/background-desktop@1x.webp") type("image/webp") 1x,
          url("../img/page/background-desktop@2x.png") 2x,
          url("../img/page/background-desktop@1x.png") 1x
        );
    }
  }
}
