.title {
  line-height: 100%;
  font-size: 30px;
  font-weight: 800;

  &--primary {
    font-size: 26px;
  }

  &--secondary {
    position: relative;
    font-size: 22px;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      font-size: 26px;
      opacity: 0.03;
      transform: translateY(-60%);
      content: attr(data-content);
    }
  }

  @include media-tablet {
    font-size: 56px;

    &--primary {
      font-size: 40px;
    }

    &--secondary {
      font-size: 25px;

      &::after {
        font-size: 40px;
        transform: translateY(-30%);
      }
    }
  }

  @include media-desktop {
    font-size: 77px;

    &--primary {
      font-size: 55px;
    }

    &--secondary {
      font-size: 35px;

      &::after {
        font-size: 55px;
      }
    }
  }
}
