// Font familie
$font-family: "Montserrat", "Arial", sans-serif;

// Width
$width-phone: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;

// Padding
$padding-phone: 15px;
$padding-tablet: 45px;
$padding-desktop: 120px;

// Color
$white-100: #ffffff;
$white-50: rgba($white-100, 0.5);
$primary: #2d383f;
$primary-50: rgba($primary, 0.5);
$primary-20: rgba($primary, 0.2);
$primary-30: rgba($primary, 0.3);
$additional-100: #0266c1;
$additional-50: rgba($additional-100, 0.5);
$additional-20: rgba($additional-100, 0.2);
$disabled: #999999;
$light-grey: #d9d9d9;
$basic-red: #ff121f;
$basic-blue: #1c3374;
$basic-dark-blue: #0f1429;
$basic-black: #000000;
$alt-black: #030a1a;
$basic-green: #373c31;
$hero-gradient: linear-gradient(to bottom right, rgba($basic-dark-blue, 0.33) 0%, rgba($basic-dark-blue, 0) 100%);
$background-fallback: #4682b4;
$background-fallback-map: #e8eaed;
