.form {
  position: relative;
  min-height: 638px;
  padding: 154px 0 100px;
  color: $white-100;
  background-color: $basic-green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:
    image-set(
      url("../img/form/background-form-mobile@2x.webp") type("image/webp") 2x,
      url("../img/form/background-form-mobile@1x.webp") type("image/webp") 1x,
      url("../img/form/background-form-mobile@2x.jpg") 2x,
      url("../img/form/background-form-mobile@1x.jpg") 1x
    );


  @include media-tablet {
    min-height: 680px;
    background-image:
      image-set(
        url("../img/form/background-form-tablet@2x.webp") type("image/webp") 2x,
        url("../img/form/background-form-tablet@1x.webp") type("image/webp") 1x,
        url("../img/form/background-form-tablet@2x.jpg") 2x,
        url("../img/form/background-form-tablet@1x.jpg") 1x
      );
  }

  @include media-desktop {
    min-height: 760px;
    padding: 277px 0 100px;
    background-image:
      image-set(
        url("../img/form/background-form-desktop@2x.webp") type("image/webp") 2x,
        url("../img/form/background-form-desktop@1x.webp") type("image/webp") 1x,
        url("../img/form/background-form-desktop@2x.jpg") 2x,
        url("../img/form/background-form-desktop@1x.jpg") 1x
      );
  }
}

.form__container {
  max-width: 259px;

  @include media-tablet {
    max-width: 360px;
  }

  @include media-desktop {
    max-width: 960px;
  }
}

.form__header {
  margin-bottom: 20px;
  text-align: center;

  @include media-tablet {
    margin: 0 4px 23px 0;
  }

  @include media-desktop {
    margin: 0 0 39px;
  }
}

.form__header h2 {
  margin: 20px 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;

  @include media-tablet {
    margin: 30px 0;
    font-size: 25px;
  }

  @include media-desktop {
    margin: 18px 0;
    font-size: 35px;
  }
}

.form__header p {
  max-width: 220px;
  margin: 10px auto;
  font-size: 12px;
  line-height: 150%;

  @include media-tablet {
    max-width: none;
    font-size: 16px;
  }

  @include media-desktop {
    font-size: 16px;
  }
}

.form__wrapper {
  display: grid;
  row-gap: 8px;

  @include media-tablet {
    row-gap: 11px;
  }

  @include media-desktop {
    display: flex;
    gap: 30px;
  }
}

.form__group {
  display: grid;
  align-items: center;
  width: 100%;
  min-height: 50px;

  @include media-tablet {
    min-height: 56px;
  }

  @include media-desktop {
    min-width: 360px;
  }
}

.form__input {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  display: block;
  width: 100%;
  height: 100%;
  padding: 14px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $primary;
  background-color: $white-100;
  border: 1px solid $additional-20;
  transition: 0.3s border-color ease-in-out, 0.3s color ease-in-out;

  &::placeholder {
    color: $additional-50;
  }

  &:placeholder-shown {
    border-color: $additional-100;
  }

  &:hover {
    border-color: $additional-100;
  }

  &:focus-visible {
    border-color: $primary;
    color: $primary;
    outline: none;
  }

  &:disabled {
    border-color: $disabled;
  }

  @include media-tablet {
    padding: 18px 30px 17px;
    border-radius: 2px;
  }
}

.form__label {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  padding: 17px 16px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $primary-50;
  user-select: none;

  @include media-tablet {
    padding: 20px 30px;
  }
}

.form__input:disabled + .form__label {
  color: $disabled;
}

.form__input:focus-visible + .form__label,
.form__input:required:user-valid + .form__label,
.form__input:valid + .form__label,
.form__input:user-invalid + .form__label {
  visibility: hidden;
}

.form__input:user-invalid {
  border-color: $basic-red;
  color: $primary-50;
}

.form__submit {
  padding: 22px 20px 20px;
  font-family: inherit;

  @include media-tablet {
    padding: 20px;
    border-radius: 6px;
  }

  @include media-desktop {
    min-width: 180px;
    border-radius: 0;
  }
}
