.reviews-swiper {
  width: 100%;
  height: auto;
  min-height: 444px;

  @include media-tablet {
    min-height: 277px;
    transform: translateX($padding-tablet);
  }

  @include media-desktop {
    min-height: 293px;
    transform: translateX($padding-desktop);
  }
}

.reviews-swiper__list {
  @include reset-list;

  width: 100%;
  height: 100%;
}

.reviews-swiper__item.swiper-slide {
  width: 100%;

  @include media-tablet {
    width: 565px;
  }

  @include media-desktop {
    width: 700px;
  }
}
