.tours-card {
  display: grid;
  align-items: flex-end;
  height: 100%;
  min-height: 416px;
  color: var(--white-100);
  background-color: steelblue;
}

.tours-card__image-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}

.tours-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: steelblue;
}

.tours-card__content {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  row-gap: 15px;
  padding: 16px 20px 30px;
}

.tours-card__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  overflow-wrap: anywhere;
  order: -1;

  @include media-desktop {
    width: 90%;
  }
}
