.tours-card {
  display: grid;
  align-items: flex-end;
  height: 100%;
  min-height: 416px;
  color: $white-100;
  background-color: $background-fallback;

  &::before {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    content: "";
  }

  &--caucasus::before {
    background-image:
      image-set(
        url("../img/tours/tours-slide-1@2x.webp") type("image/webp") 2x,
        url("../img/tours/tours-slide-1@1x.webp") type("image/webp") 1x,
        url("../img/tours/tours-slide-1@2x.jpg") 2x,
        url("../img/tours/tours-slide-1@1x.jpg") 1x
      );
  }

  &--altai::before {
    background-image:
      image-set(
        url("../img/tours/tours-slide-2@2x.webp") type("image/webp") 2x,
        url("../img/tours/tours-slide-2@1x.webp") type("image/webp") 1x,
        url("../img/tours/tours-slide-2@2x.jpg") 2x,
        url("../img/tours/tours-slide-2@1x.jpg") 1x
      );
  }

  &--adygea::before {
    background-image:
      image-set(
        url("../img/tours/tours-slide-3@2x.webp") type("image/webp") 2x,
        url("../img/tours/tours-slide-3@1x.webp") type("image/webp") 1x,
        url("../img/tours/tours-slide-3@2x.jpg") 2x,
        url("../img/tours/tours-slide-3@1x.jpg") 1x
      );
  }

  &--ural::before {
    background-image:
      image-set(
        url("../img/tours/tours-slide-4@2x.webp") type("image/webp") 2x,
        url("../img/tours/tours-slide-4@1x.webp") type("image/webp") 1x,
        url("../img/tours/tours-slide-4@2x.jpg") 2x,
        url("../img/tours/tours-slide-4@1x.jpg") 1x
      );
  }
}

.tours-card__content {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  row-gap: 15px;
  padding: 16px 20px 30px;
}

.tours-card__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  overflow-wrap: anywhere;
  order: -1;

  @include media-desktop {
    width: 90%;
  }
}
