.header {
  position: relative;
  background-color: $additional-100;
  color: $white-100;
  z-index: 2;
}

.header__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: $width-phone - ($padding-phone * 2);
  margin: 0 auto;
  padding: 15px 0 10px;
  background-color: $additional-100;

  @include media-tablet {
    align-items: center;
    width: $width-tablet - ($padding-tablet * 2);
    padding: 20px 0;
  }

  @include media-desktop {
    width: $width-desktop - ($padding-desktop * 2);
    padding: 32px 0;
  }
}

.header__nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(0);
  transition: transform 1s ease-in-out;
  z-index: -1;

  @include media-desktop {
    position: relative;
    z-index: 0;
  }
}

.header__nav-list {
  @include reset-list;

  width: $width-phone - ($padding-phone * 2);
  margin: 0 auto;

  @include media-tablet {
    width: $width-tablet - ($padding-tablet * 2);
  }

  @include media-desktop {
    width: auto;
    margin: 0;
  }
}

.header__burger--active + .header__wrapper > .nav {
  transform: translateY(calc(100% - 1px));

  @include media-desktop {
    transform: none;
  }
}

.header__burger {
  position: relative;
  display: block;
  width: 26px;
  height: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s opacity ease-in-out;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    display: block;
    width: 100%;
    height: 8%;
    background-color: $white-100;
    transition: transform 0.5s ease-in-out;
    content: "";
  }

  &::before {
    transform: translateY(-8px);
  }

  &::after {
    transform: translateY(8px);
  }

  &--active::before {
    transform: translateY(0) rotate(45deg);
  }

  &--active::after {
    transform: translateY(0) rotate(-45deg);
  }

  @include media-desktop {
    display: none;
  }
}

.header__burger-line {
  display: block;
  width: 65%;
  height: 8%;
  background-color: $white-100;
  opacity: 1;
  transition: transform 0.9s ease-in-out, opacity 0.3s ease-in-out;
}

.header__burger--active .header__burger-line {
  transform: translateX(-100vw);
  opacity: 0;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 3px 15px;
  width: 64%;

  @include media-desktop {
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: none;
    column-gap: 30px;
  }
}

.header__logo {
  display: block;
  min-width: 142px;
  height: 42px;
  margin-left: 24px;

  @include media-desktop {
    margin: 10px 31px 0 32px;
  }
}

.header__phone {
  @include reset-link;

  min-width: 160px;
  margin: 10px 0 auto auto;
  font-weight: 600;
  text-align: end;
  transition: 0.2s color ease-in-out;

  &:hover {
    color: $white-50;
  }

  &:focus-visible {
    color: $primary;
  }

  &:active {
    color: $basic-blue;
  }

  &:not([href]) {
    color: $disabled;
    pointer-events: none;
  }

  @include media-desktop {
    align-self: flex-start;
    margin: 21px 0 0;
    font-size: 18px;
  }
}
