.adv {
  padding: 20px 0;

  @include media-tablet {
    padding: 40px 0;
  }

  @include media-desktop {
    padding: 113px 0 100px;
  }
}

.adv__title {
  margin: 16px 0 37px;
  text-align: center;

  @include media-tablet {
    margin: 20px 0 61px;
  }

  @include media-desktop {
    margin: 22px 0 50px;
  }
}

.adv__title > .title__shadow {
  transform: translate(36px, -11px);

  @include media-tablet {
    transform: translate(51%, -7px);
  }

  @include media-desktop {
    transform: translate(80%, -19px);
  }
}

.adv__buttons {
  display: none;

  @include media-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    margin: 50px auto 0;
  }
}

.adv__button {
  position: relative;
  display: block;
  width: 37px;
  height: 35px;

  &--next {
    transform: rotate(180deg);
  }
}
