.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  @include media-desktop {
    gap: 15px;
    max-width: 700px;
  }
}

.social__link {
  display: grid;
  place-content: center;
  width: 32px;
  height: 30px;
  color: $primary;
  border: 1px solid $primary-30;
  transition: 0.2s color ease-in-out, 0.2s border-color ease-in-out, 0.2s background-color ease-in-out;

  &:hover {
    border-color: $primary;
  }

  &:focus-visible {
    border-color: transparent;
  }

  &:active {
    color: $white-100;
    background-color: $additional-100;
    border-color: $additional-100;
  }

  &:not([href]) {
    color: $primary-30;
    border-color: $primary-30;
    pointer-events: none;
  }

  @include media-desktop {
    width: 30px;
  }
}
